<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


{% load static %}
{% load i18n %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Data Management</title>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" />
	<link href="{% static "/css/defaulttest.css"%}" rel="stylesheet">
	<link href="{% static "/css/fonts.css"%}" rel="stylesheet">

</head>

<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="/">Data Management</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="/" title="">User</a></li>
					
				</ul>
			</div>
		</div>
	</div>

	<div id="featured">&nbsp;</div>
	<div id="banner-wrapper">
		<div id="banner" class="container">
			
			<form action="exportdata" method="post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit">
			</form>

		</div>
	</div>
	</body>
</html>
