<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


{% load static %}
{% load i18n %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Data Manager</title>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" />
	<link href="{% static "/css/defaulttest.css"%}" rel="stylesheet">
	<link href="{% static "/css/fonts.css"%}" rel="stylesheet">

</head>

<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="/">Data Manager</a></h1>
			</div>
			<div id="menu">
				
			</div>
		</div>
	</div>
	<div id="featured">&nbsp;</div>
	<div id="wrapper">
		<div id="page" class="container">
			
				<div class="title">
					<div style="width: 100%;">
						<div style="width: 50%; height: 200px; float: left;"> 
							<div> <a href="int/datadeletion" class="button">Request Data Deletion</a></div>
							<div> <a href="int/stayinfo" class="button">Stays Information</a></div> 
							<div> <a href="int/dataexport" class="button">Export Data</a></div>
							<div> <a href="int/listreceipts" class="button">List Receipts</a></div>
							
		
						</div>
						
					</div>
				</div>
			
		</div>
	</div>
			
	</body>

</html>


